
/*  Typography basics and text-align */

h1, h2, h3 {
    font-family:'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    
}


.paragraph {
    font-size: 22px;
}

.weight {
    font-weight: bold;

}

ul {
    text-align: center;
}

li {
 text-align: center;
}